@import "~@material/animation/functions";

.site-header {
  // header styling:
  background: #f8f9fa;
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  // our animation-related styles:
  transform: translate3d(0, 0, 0);
  transition: mdc-animation-exit-temporary(transform, 250ms);
  will-change: transform;

  &.hidden {
    height: 40px!important;
    transition: mdc-animation-enter(transform, 200ms);
    @media screen and (max-width: 768px) {
      transform: translate3d(0, -100%, 0);
    }
  }
  &.light{
    background-color: #fff;
  }
  &.black{
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    height: 60px;
  }
}